extends homeLayout 
block homeMain
    - const name = nametype || "name"
    h1 #{model[name]}
    p Do you really want to delete this model 
    form(method= "post")
        input(type="hidden", name="modelId", value= model.id)
        button(type="submit") Delete
        a(href= model.url + "/display") Cancel
         