extends homeLayout 
block homeMain
    if department.option == "create"
        h1 This name choosen for this department creation already existed in the database
    else
         h1 This name choosen for this department update already existed in the database
    
    form(method= "post",hidden, id ="form" action='/department/'+ department.option + '_edit')
        .nameBlock  
                
            label(for="departmentName") department name: 
            input(type="text", name="name",required,
                value= department && department.name,id="departmentName"
                placeholder="--department name--")

        .facultyIdBlock  
            label(for="course_facultyId") Selected faculty
            input(type="text", hidden, name="facultyId",
                required,id="course_facultyId",value= faculty.id,) 
            span.selected  : #{faculty.name}
            
    button(form='form')  Continue with department creation
    button 
        a(href= '/department')  Cancil deparment #{department.option == 'create'? "creation": "update"}

