doctype html
html(lang='en')
  head
    title= title
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel="stylesheet", href="/stylesheets/style.css")
    script #{alreadyExisted}&& alert(`#{modelInstance && modelInstance.modelName} with the same name already exists in the database`);   
  body
    div(class='home-block')
      include ./includes/header
  
      main(class='main')
        block homeMain
      
      include ./includes/footer
        