extends homeLayout 
block homeMain 
    .lecturersContainer  
        if lecturerList && lecturerList.length > 0
            .lecturers
                ul 
                    each lecturer in lecturerList 
                        .lecturerInstance
                            li
                                a(href= `${lecturer.url}/display`) #{lecturer.fullName}
            label(for="name") Create a lecturer: 
                a(href="/lecturer/create")
                    button(type="button") Create A lecturer
        else
            p No lecturer to select from  
            a(href="/lecturer/create", name='lecturerCreation',class="a-btn") 
                button(type="button") Create A lecturer
               
