extends homeLayout 
block homeMain 
    form( method="post")
        fieldset
            legend Choose your courses 
            each studentCourse in studentCourseList 
                .infoUnit
                    label(for=studentCourse.title) 
                        input(type="checkbox", name="studentCourseIds", 
                            id=studentCourse.title,value=studentCourse.id,
                            selected = studentCourse.selected)
                        strong #{studentCourse.name} 
                
        button(type="submit") Submit