extends homeLayout 
block homeMain 
    - const name =  nameType || "name"
    form( method="post")
        fieldset
            legend Choose your courses 
            each model in modelList 
                .infoUnit
                    label(for=model.title) 
                        input(type="checkbox", name="modelIds", 
                            id=model.title,value=model.id,
                            selected = model.selected)
                        strong #{model[name]} 
                
        button(type="submit") Submit