extends homeLayout 
block homeMain 
    form( method="post")
        fieldset
            legend Add/Change Lecturer's Level
            div
                each level in levelList 
                    .infoUnit
                        label(for=level)
                            input(type="radio", name="level", 
                                id=level,value=level,
                                checked = presentLevel == level,
                                required = level == 1)
                            strong #{level} 
                            if (presentLevel == level)
                                span.currentLevel  Current level
            button(type="submit") Submit