header.home-header 
    h1 Who Knows University
    ul.home-navbar  
        li
            a(href='/catalog') Home
        li 
            a(href="/course") Courses 
        li
            a(href='/faculty') Faculties  
        li
            a(href='/department') Departments
        li
            a(href='/lecturer') Lecturers
        li
            a(href='/student') Students
        li
hr