extends layout 

block content 

    h1 #{title}

    form(method="POST")
        div.form-group
            label(for= 'name') Genre:

            input#name.form-control(type='text',placeholder= 'blues, gospel,' name ='name' required 
            value= (undifined === genre ? '': genre.name))

            button.btn.btn-primary(type="submit") Submit

            if errors 
                ul 
                    for error in errors 
                        li!= error.msg